@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Form parameters parsing demo</h1>
    <ul>
        <li><a asp-controller="Calc" asp-action="Manual">Manual parcing in single action</a></li>
        <li><a asp-controller="Calc" asp-action="ManualWithSeparateHandlers">Manual parcing in separate actions</a></li>
        <li><a asp-controller="Calc" asp-action="ModelBindingInParametrs">Model binding (parameters)</a></li>
        <li><a asp-controller="Calc" asp-action="ModelBindingInSeparateModel">Model binding (separate model)</a></li>
    </ul>
</div>
